@{
    ViewData["Title"] = "Home Page";
}

<body class="index-page-body" style="color: white" >
    <br /><br />
    <h3 style="font-weight:bold"> Welcome to Welcome to HotelManagement</h3>
    <p style="font-weight:bold; font-size: 12px;">
        <br /> <br />
        Effortlessly manage your hotel operations with our cutting-edge Hotel Management System. Designed to simplify and streamline your processes, our platform ensures a seamless experience for both guests and staff.
        <br /> <br />
        Why Choose Us?
        Efficient Booking System
        Manage reservations with ease, from room availability to check-ins and check-outs.
        <br /> <br />
        Guest Management
        Keep track of guest preferences, history, and feedback to provide personalized experiences.
        <br /> <br />
        Room and Inventory Management
        Maintain real-time updates on room statuses and inventory for smoother operations.
        <br /><br />
        Secure Payments
        Offer your guests a variety of secure payment options for added convenience.
        <br /> <br />
        Analytics and Reports
        Make data-driven decisions with detailed reports on occupancy, revenue, and performance.
        <br /><br />
        Who Can Benefit?
        Whether you're a boutique hotel, a luxury resort, or a family-owned inn, our system is tailored to meet your unique needs.
        <br /><br />
        Contact Us
        Ready to transform your hotel operations? Get in touch with us today for a demo or consultation.
   <br />
    </p>

</body>